<ion-header>
  <ion-toolbar>
    <ion-title>Realizar solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <!-- Motivo de la solicitud -->
      <ion-item lines="none" class="custom-item">
        <ion-label position="floating" class="custom-label">Motivo de solicitud</ion-label>
        <ion-input [(ngModel)]="motivo" class="custom-input"></ion-input>
      </ion-item>

      <!-- Fecha de la solicitud -->
      <ion-item lines="none" class="custom-item">
        <ion-label position="floating" class="custom-label">Fecha</ion-label>
        <ion-input [(ngModel)]="fecha" readonly class="custom-input"></ion-input>
      </ion-item>

      <!-- Descripción de la solicitud -->
      <ion-item lines="none" class="custom-item">
        <ion-label position="floating" class="custom-label">Descripción solicitud</ion-label>
        <ion-textarea [(ngModel)]="descripcion" class="custom-input"></ion-textarea>
      </ion-item>

      <!-- Subida de archivos (solo PDFs) -->
      <ion-item lines="none" class="custom-item">
        <ion-label position="fixed" class="custom-label">Archivos:</ion-label>
        <input type="file" (change)="onFileSelected($event)" accept=".pdf" multiple class="custom-input">
      </ion-item>

      <!-- Botón de enviar -->
      <ion-button expand="full" (click)="realizarSolicitud()" class="custom-button">Realizar solicitud</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
