/* solicitud.page.scss */
ion-header {
  text-align: center;
}

ion-content {
  --background: radial-gradient(circle at top left, #0c1b2b, #08161f, #2f3e46),
                radial-gradient(circle at top right, #354f52, #2f3e46, #08161f);
}

ion-card {
  background-color: #A0AEC0  ; /* Fondo del formulario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  border: 1px solid transparent; /* Borde del formulario */
}

ion-item {
  --background: none; /* Eliminar fondo del ion-item */
  --border-color: #5a9bd4; /* Color del borde */
  --color: #fff; /* Color del texto */
  margin-bottom: 15px;
  --padding-start: 0px; /* Asegura que no haya padding en el inicio */
}

ion-label {
  --color: #007bff; /* Color de las etiquetas */
  font-size: 0.875rem; /* Tamaño de la fuente de las etiquetas */
  padding-bottom: 8px; /* Espacio debajo de las etiquetas */
  font-weight: bold; /* Etiquetas en negrita */
  margin-bottom: 15px;
}

ion-input, ion-textarea {
  --background: radial-gradient(circle at top left, #0c1b2b, #08161f, #2f3e46),
  radial-gradient(circle at top right, #354f52, #2f3e46, #08161f);  --placeholder-color: #999999; /* Color del placeholder */
  --padding-start: 10px;
  --padding-end: 10px;
  border: 1px solid transparent; /* Borde de los inputs */
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem; /* Asegúrate de que el tamaño de la fuente sea consistente */
  padding-top: 15px; /* Agrega padding superior para ajustar el placeholder */
  line-height: 1.5; /* Ajusta la altura de línea para el contenido del input */
  
  /* Estilo del placeholder */
  &::placeholder {
    color: #999999; /* Color del placeholder */
    padding-top: 5px; /* Mueve el placeholder un poco más arriba */
  }
}

ion-textarea {
  min-height: 50px; /* Ajusta la altura mínima del ion-textarea */
  height: auto; /* Permite que el textarea se ajuste automáticamente */
  resize: none; /* Evita el redimensionamiento manual del textarea */
}

input[type="file"] {
  border: 1px solid transparent; /* Borde de inputs tipo file */
  border-radius: 4px;
  padding: 8px;
}

ion-button {
  margin-top: 15px;
  --background: radial-gradient(circle at top left, #0c1b2b, #08161f, #2f3e46),
  radial-gradient(circle at top right, #354f52, #2f3e46, #08161f);  --placeholder-color: #999999; /* Color del placeholder */  --color: #ffffff; /* Color del texto del botón */
  --border-radius: 4px;
  --padding: 10px 20px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --hover-background: #0056b3; /* Fondo del botón en hover */
  text-transform: uppercase; /* Texto en mayúsculas para los botones */
}

.custom-label {
  margin-bottom: 20px; /* Ajusta este valor según sea necesario */
}

ion-input.custom-input, ion-textarea.custom-input {
  --padding-start: 0px;
  --padding-end: 0px;
}
